<template>
  <div>
    <form>
      <input type="text" name="first data" v-model="data1" @input="setData1">
      <button @click.prevent="setData1">update</button>
    </form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      data1: 0
    };
  },

  computed: {},

  methods: {
    setData1() {
      return this.$store.commit("setData1", this.data1);
    }
  }
};
</script>

<style>
.small {
  max-width: 600px;
  margin: 150px auto;
}
</style>