<template>
  <div>
    <GChart type="PieChart" :data="chartData" :options="chartOptions"/>
    {{$store.getters.data1}}
  </div>
</template>

<script>
import { GChart } from "vue-google-charts";
export default {
  components: {
    GChart
  },
  data() {
    return {
      chartType: "",
      // Array will be automatically processed with visualization.arrayToDataTable function
      chartData: [
        ["Year", "Sales"],
        ["2014", this.$store.getters.data1],
        ["2015", this.$store.getters.data2],
        ["2016", this.$store.getters.data3],
        ["2017", this.$store.getters.data4]
      ],
      chartOptions: {
        chart: {
          title: "Company Performance",
          subtitle: "Sales, Expenses, and Profit: 2014-2017"
        }
      }
    };
  },

  methods: {}
};
</script>

<style>
.small {
  max-width: 600px;
  margin: 150px auto;
}
</style>