<template>
  <div>
    <insert-data></insert-data>
    <pie-chart></pie-chart>
    <test></test>
  </div>
</template>

<script>
import pieChart from "./components/pieChart";
import insertData from "./components/insert-data";
import test from "./components/test";
export default {
  components: {
    pieChart,
    insertData,
    test
  },
  data() {
    return {};
  },

  methods: {}
};
</script>

<style>
.small {
  max-width: 600px;
  margin: 150px auto;
}
</style>